<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kcs.mapper.BoardMapper">
	<select id="selectBoardList" parameterType="int" resultType="board">
		select bno,writer,title,content,bdate,blike,bhate,views,comment_count from (select ceil(rownum/7) as pagenum, bno, title, bdate, views, writer, content, blike, bhate, comment_count from (select b.*, nvl(c.comment_count, 0) as comment_count from board b, (select bno, count(*) as comment_count from BOARD_COMMENT group by bno) c where b.bno = c.bno(+) order by b.bno desc)) where pagenum = #{pageNo}	 	
	</select>
	
	<update id="addCount" parameterType="int">
		update board set views = views+1 where bno = #{bno}
	</update>
	
	<select id="selectBoard" parameterType="int" resultType="board">
		select * from board where bno = #{bno}
	</select>
	
	<select id="selectBoardComment" parameterType="int" resultType="boardComment">
		select * from board_comment where bno = #{bno}
	</select>
	
	<select id="selectFileList" parameterType="int" resultType="boardFile">
 		select * from board_file where bno = #{bno}
 	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from board
	</select>
	
	<insert id="insertBoardComment" parameterType="boardComment">
		insert into board_comment(cno,bno,writer,content,cdate) values(seq_board_cno.nextval,#{bno},#{writer},#{content}, sysdate)
	</insert>
	
	<update id="updateCommentLike" parameterType="int">
		update board_comment set clike = clike+1 where cno = #{cno}
	</update>

	<update id="updateCommentHate" parameterType="int">
		update board_comment set chate = chate+1 where cno = #{cno}
	</update>
	
	<update id="addBoardLikeHate" parameterType="map">
		update board set
		<choose>
			<when test="mode==0">
					blike = blike+1
			</when>
			<otherwise>
					bhate = bhate+1
			</otherwise>
		</choose>
		where bno = #{bno}
	</update>
	
	<insert id="insertBoard" parameterType="board">
		insert into board(bno,writer,title,content) values(#{bno},#{writer},#{title},#{content})
	</insert>
	
	<insert id="insertFileList" parameterType="boardFile">
		insert into board_file(fbno, bno, fileName, writer) values(#{fbno},#{bno},#{fileName},#{writer})
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where bno = #{bno}
	</delete>
	
	<update id="updateBoard" parameterType="board">
		update board set title = #{title}, writer=#{writer}, content = #{content} where bno = #{bno}
	</update>
	
	<select id="newBno" resultType="int">
		select seq_board_bno.nextval from dual
	</select>
	
	<select id="newFbno" resultType="int">
		select SEQ_BOARD_FILE_FBNO.nextval from dual
	</select>
	
	
	<delete id="deleteFile" parameterType="int">
		delete from board_file where fbno = #{fbno}
	</delete>
	
	<select id="selectSearchBoard" parameterType="map" resultType="board">
		select * from board where
		<choose>
			<when test="kind.equals('writer')">
				writer like '%'||#{search}||'%'
			</when>
			<otherwise>
				title like '%'||#{search}||'%' 
			</otherwise>
		</choose>
	</select>
	
</mapper>