<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kcs.mapper.BookMapper">
	<select id="getGuestBookList" parameterType="String" resultType="book">
		select bno, TO_CHAR(start_date, 'YYYY-MM-DD'), TO_CHAR(end_date, 'YYYY-MM-DD'), TO_CHAR(book_date, 'YYYY-MM-DD'), contentId, id, status, facltNm 
		from book where id like #{id}
	</select>
	<delete id="guestBookCancel" parameterType="String">
		delete from book where bno like #{bno}
	</delete>
	<insert id="insertReview" parameterType="review">
		insert into review values(#{rno}, #{contentId}, #{id}, #{star}, #{content}, sysdate, #{facltNm})
	</insert>
	<insert id="insertReviewFile" parameterType="reviewFile">
		insert into review_file values(SEQ_REVIEW_FILE_RFNO.NEXTVAL, #{contentId}, #{writer}, #{fileName}, #{facltNm}, #{rno})
	</insert>
	<select id="getRno" resultType="int">
		select SEQ_REVIEW_RNO.NEXTVAL from dual
	</select>
	<select id="checkBno" parameterType="String">
		select bno from book where bno like #{bno}
	</select>
	<insert id="insertBook" parameterType="book">
		insert into book values(#{bno}, TO_DATE(#{start_date},'yyyy-MM-dd'),  TO_DATE(#{end_date},'yyyy-MM-dd'), sysdate, #{contentId}, #{id}, 0, #{facltNm})
	</insert>
	<update id="updateBookStatus" parameterType="String">
		update book set status = 3 where bno like #{bno}
	</update>
</mapper>